*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* direction: rtl; */
    background-color: #555;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vv;
}
.container{
    color: #fff;
}
.location{
    border-bottom: 1px #ff565b solid;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#city{
    font-size: 5rem;
}
#date{
    font-size: 3rem;
    color: #ff565b;
}
.prayer-times{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
}
.time{
    width: 150px;
    height: 150px;
    border: 1px #777 solid;
    box-shadow: 0px 1px 24px rgba(0,0,0,0.4);
}

#pry-text{
    width: 100%;
    background-color: #ff565b;
}
#pry-time-placeholder{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 3rem;
    color: #ff565b;
}
#getLocationButton{
    background-color: #ff565b;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    color: #fff;
}


